.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.noResults {
  text-align: center;
  color: #888;
  font-size: 18px;
  margin-top: 20px;
  font-style: italic;
}
